{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}

{% block content %}

<!--/ Carousel Star /-->
<div class="intro intro-carousel">
    <div id="carousel" class="owl-carousel owl-theme">

        {% for house in houses|slice:":3" %}
        <div class="carousel-item-a intro-item bg-image" style="background-image: url({{house.image1.url}})">
            <div class="overlay overlay-a"></div>
            <div class="intro-content display-table">
                <div class="table-cell">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8">
                                <div class="intro-body">
                                    <p class="intro-title-top">
                                        <br>
                                    </p>
                                    <h1 class="intro-title mb-4">
                                        <span class="color-b">{{house.split_address}} </span>
                                        {{house.split_address_second}}
                                        <br> {{house.location}}
                                    </h1>
                                    <p class="intro-subtitle intro-price">
                                        <a href="#"><span class="price-a">rent | $ {{house.price}}</span></a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}



    </div>
</div>
<!--/ Carousel end /-->





<section class="section-property section-t8">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title-wrap d-flex justify-content-between">
                    <div class="title-box">
                        <h2 class="title-a">Accomodation</h2>
                    </div>
                    <div class="title-link">
                        <a href="{% url 'houses:houses' %}">All Houses
                            <span class="ion-ios-arrow-forward"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div id="property-carousel" class="owl-carousel owl-theme">

            {% for house in houses|slice:":5" %}

            <div class="carousel-item-b">
                <div class="card-box-a card-shadow">
                    <div class="img-box-a">
                        <img src="{{ house.image1.url }}" alt="" class="img-a img-fluid">
                    </div>
                    <div class="card-overlay">
                        <div class="card-overlay-a-content">
                            <div class="card-header-a">
                                <h2 class="card-title-a">
                                    <a href="{% url 'houses:house' house.id %}">{{house.address}}
                                        <br /> {{ house.location }}</a>
                                </h2>
                            </div>
                            <div class="card-body-a">
                                <div class="price-box d-flex">
                                    <span class="price-a">rent | $ {{ house.price }}</span>
                                </div>
                                <a href="{% url 'houses:house' house.id %}" class="link-a">Click here to view
                                    <span class="ion-ios-arrow-forward"></span>
                                </a>
                            </div>
                            <div class="card-footer-a">
                                <ul class="card-info d-flex justify-content-around">
                                    
                                    <li>
                                        <h4 class="card-info-title">Beds</h4>
                                        <span>{{ house.beds_per_room }}</span>
                                    </li>
                                    <li>
                                        <h4 class="card-info-title">Baths</h4>
                                        <span>{{ house.baths_rooms }}</span>
                                    </li>
                                    <li>
                                        <h4 class="card-info-title">Slots</h4>
                                        <span>{{ house.get_slots_available }}</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% empty %}
            <h4>No houses available</h4>

            {% endfor %}


        </div>

    </div>
</section>



<!--/ Agents Star /-->
<section class="section-agents section-t8">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title-wrap d-flex justify-content-between">
                    <div class="title-box">
                        <h2 class="title-a">Advertisers</h2>
                    </div>
                    <div class="title-link">
                        <a href="{% url 'accounts:accounts' %}">All Agents
                            <span class="ion-ios-arrow-forward"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">

            {% for advertiser in advertisers|slice:":3" %}
                {% include "houses/reusables/agents_section.html" with advertiser=advertiser %}
            {% empty %}
                <h4>No advertisers available</h4>
            {% endfor %}


        </div>
    </div>
</section>
<!--/ Agents End /-->

<!--/ News Star /-->

<section class="section-news section-t8">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title-wrap d-flex justify-content-between">
                    <div class="title-box">
                        <h2 class="title-a">Ads</h2>
                    </div>
                    <div class="title-link">
                        <a href="{% url 'ads:ads' %}">All Ads
                            <span class="ion-ios-arrow-forward"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div id="new-carousel" class="owl-carousel owl-theme">
            
            {% for ad in ads|slice:":5" %}
                <div class="carousel-item-c">
                    <div class="card-box-b card-shadow news-box">
                        <div class="img-box-b">
                        <img src="{{ad.image.url}}" alt="" class="img-b img-fluid">
                        </div>
                        <div class="card-overlay">
                        <div class="card-header-b">
                            <div class="card-category-b">
                            <a href="{% url 'ads:ad' ad.id %}" class="category-b">{{ad.category}}</a>
                            </div>
                            <div class="card-title-b">
                            <h2 class="title-2">
                                <a href="{% url 'ads:ad' ad.id %}">{{ad.title}}</a>
                            </h2>
                            </div>
                            <div class="card-date">
                            <span class="date-b">${{ad.price}}</span>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            {% empty %}
                <h4>No ads available</h4>
            {% endfor %}


            </div>
    </div>
</section>

<!--/ News End /-->


{% endblock %}