{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}

{% block content %}
<!--/ Intro Single star /-->
<section class="intro-single">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-8">
          <div class="title-single-box">
            <h1 class="title-single">{{house.address}}</h1>
            <span class="color-text-a">{{house.location}}</span>
          </div>
        </div>
        <div class="col-md-12 col-lg-4">
          {% if house.user == user %}
            <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a class="second-nav-link" href="{% url 'bookings:booked' house.id %}">Booked People</a>
                </li>
                <li class="breadcrumb-item">
                  <a class="second-nav-link" href="{% url 'houses:edit' house.id %}">Edit</a>
                </li>
                <li class="breadcrumb-item">
                  <a class="second-nav-link delete" href="{% url 'houses:delete' house.id %}">Delete</a>
                </li> 
                
              </ol>
            </nav>

          {% else %}
            <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
              <ol class="breadcrumb">
                {% if user in booked_users %}
                  <li class="breadcrumb-item">
                    <a class="second-nav-link" href="">Booked</a>
                  </li>
                {% else %}
                  <li class="breadcrumb-item">
                    <a class="second-nav-link" href="{% url 'bookings:new' house.id %}">Book A Room</a>
                  </li>
                {% endif %}
              </ol>
            </nav>


          {% endif %}
          
        </div>
      </div>
    </div>
  </section>
  <!--/ Intro Single End /-->

  <!--/ Property Single Star /-->
  <section class="property-single nav-arrow-b">
    <div class="container">
      <div class="row">
        <div class="col-sm-12" >
          <div id="property-single-carousel" class="owl-carousel owl-arrow gallery-property">
            <div class="carousel-item-b">
              <img src="{{house.image1.url}}" alt="">
            </div>
            <div class="carousel-item-b">
              <img src="{{house.image2.url}}" alt="">
            </div>
            <div class="carousel-item-b">
              <img src="{{house.image3.url}}" alt="">
            </div>
          </div>
          <div class="row justify-content-between">
            <div class="col-md-5 col-lg-4">
              <div class="property-price d-flex justify-content-center foo">
                <div class="card-header-c d-flex">
                  <div class="card-box-ico">
                    <span class="ion-money">$</span>
                  </div>
                  <div class="card-title-c align-self-center">
                    <h5 class="title-c">{{house.price}}</h5>
                  </div>
                </div>
              </div>
              <div class="property-summary">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="title-box-d section-t4">
                      <h3 class="title-d">Quick Summary</h3>
                    </div>
                  </div>
                </div>
                <div class="summary-list">
                  <ul class="list">
                    <li class="d-flex justify-content-between">
                      <strong>Property ID:</strong>
                      <span>{{house.id}}</span>
                    </li>
                    <li class="d-flex justify-content-between">
                      <strong>Location:</strong>
                      <span>{{house.location}}</span>
                    </li>
                    
                    <li class="d-flex justify-content-between">
                      <strong>Status:</strong>
                      <span>{{house.status}}</span>
                    </li>
                    <li class="d-flex justify-content-between">
                      <strong>Booking Fee:</strong>
                      <span>ZWL {{house.booking_fee}}</span>
                    </li>
                    
                    <li class="d-flex justify-content-between">
                      <strong>Beds Per Room:</strong>
                      <span>{{house.beds_per_room}}</span>
                    </li>
                    <li class="d-flex justify-content-between">
                      <strong>Baths:</strong>
                      <span>{{house.baths_rooms}}</span>
                    </li>
                    <li class="d-flex justify-content-between">
                      <strong>Available spaces (girls):</strong>
                      <span>{{house.girls_remaining_slots}}</span>
                    </li>
                    <li class="d-flex justify-content-between">
                        <strong>Available spaces (boys):</strong>
                        <span>{{house.boys_remaining_slots}}</span>
                      </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-7 col-lg-7 section-md-t3">
              <div class="row">
                <div class="col-sm-12">
                  <div class="title-box-d">
                    <h3 class="title-d">Property Description</h3>
                  </div>
                </div>
              </div>
              <div class="property-description">
                <p class="description color-text-a">
                  {{house.description}}
                </p>
                
              </div>
              <div class="row section-t3">
                <div class="col-sm-12">
                  <div class="title-box-d">
                    <h3 class="title-d">Amenities</h3>
                  </div>
                </div>
              </div>
              <div class="amenities-list color-text-a">
                <ul class="list-a no-margin">
                    {% for amenity in house.amenities.all %}
                        <li>{{amenity.name}}</li>
                    {% endfor %}
                  
                </ul>
              </div>
            </div>
          </div>
        </div>
        
        <div class="col-md-12">
          <div class="row section-t3">
            <div class="col-sm-12">
              <div class="title-box-d">
                <h3 class="title-d">Contact Advertiser</h3>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-lg-4">
              <img style="width: 400px; height: 400px;" src="{{ house.user.pic.url }}" alt="" class="img-fluid">
            </div>
            <div class="col-md-6 col-lg-4">
              <div class="property-agent">
                <h4 class="title-agent">{{house.user.get_full_name}}</h4>
                <p class="color-text-a">
                  {{house.user.bio}}
                </p>
                <ul class="list-unstyled">
                  <li class="d-flex justify-content-between">
                    <strong>Phone:</strong>
                    <span class="color-text-a">{{house.user.contact_number}}</span>
                  </li>
                  
                  <li class="d-flex justify-content-between">
                    <strong>Email:</strong>
                    <span class="color-text-a">{{house.user.email}}</span>
                  </li>
                  
                </ul>
                
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--/ Property Single End /-->
{% endblock %}