{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}

{% block content %}

<div style="padding-bottom: 200px;" ></div>
<!--/ Property Start /-->
{% if houses %}
<section class="property-grid grid">
    <div class="container">
        
        <div class="row">
            
            <div class="col-md-12">
                <div class="title-wrap d-flex justify-content-between">
                    <div class="title-box">
                        <h2 class="title-a">Accomodation results</h2>
                    </div>
                    
                </div>
            </div>
            



            {% for house in houses %}

                <div class="col-md-4">
                    <div class="card-box-a card-shadow">
                        <div class="img-box-a">
                            <img src="{% thumbnail house.image1 0x467 %}" alt="" class="img-a img-fluid">
                        </div>
                        <div class="card-overlay">
                            <div class="card-overlay-a-content">
                                <div class="card-header-a">
                                    <h2 class="card-title-a">
                                        <a href="{% url 'houses:house' house.id %}">{{house.address}}
                                            <br /> {{house.location}}</a>
                                    </h2>
                                </div>
                                <div class="card-body-a">
                                    <div class="price-box d-flex">
                                        <span class="price-a">rent | $ {{house.price}}</span>
                                    </div>
                                    <a href="{% url 'houses:house' house.id %}" class="link-a">Click here to view
                                        <span class="ion-ios-arrow-forward"></span>
                                    </a>
                                </div>
                                <div class="card-footer-a">
                                    <ul class="card-info d-flex justify-content-around">
                                        
                                        <li>
                                            <h4 class="card-info-title">Beds per room</h4>
                                            <span>{{house.beds_per_room}}</span>
                                        </li>
                                        <li>
                                            <h4 class="card-info-title">Baths</h4>
                                            <span>{{house.baths_rooms}}</span>
                                        </li>
                                        <li>
                                            <h4 class="card-info-title">Spaces Available</h4>
                                            <span>{{house.get_slots_available}}</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            {% endfor %}


        </div>

    <!-- paste here -->

    </div>
    
</section>
{% endif %}
<!--/ Property End /-->

<!--/ Agents Star /-->
{% if advertisers %}
<section class="agents-grid grid">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
            <div class="title-wrap d-flex justify-content-between">
                <div class="title-box">
                    <h2 class="title-a">Advertisers results</h2>
                </div>
                
            </div>
        </div>
        {% for advertiser in advertisers %}
        <div class="col-md-4">
          <div class="card-box-d">
            <div class="card-img-d">
              <img src="{{advertiser.pic.url}}" alt="" class="img-d img-fluid">
            </div>
            <div class="card-overlay card-overlay-hover">
              <div class="card-header-d">
                <div class="card-title-d align-self-center">
                  <h3 class="title-d">
                    <a href="{% url 'accounts:account' advertiser.id %}" class="link-two">{{advertiser.first_name}}
                      <br> {{advertiser.last_name}}</a>
                  </h3>
                </div>
              </div>
              <div class="card-body-d">
                <p class="content-d color-text-a">
                  {{advertiser.bio}}
                </p>
                <div class="info-agents color-a">
                  <p>
                    <strong>Phone: </strong> {{advertiser.contact_number}}
                  </p>
                  <p>
                    <strong>Email: </strong> {{advertiser.email}}
                  </p>
                </div>
              </div>
              <div class="card-footer-d">
                <div class="socials-footer d-flex justify-content-center">
                  <ul class="list-inline">
                    <li class="list-inline-item">
                      <a href="" class="link-one">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="" class="link-one">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="" class="link-one">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="" class="link-one">
                        <i class="fa fa-pinterest-p" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="" class="link-one">
                        <i class="fa fa-dribbble" aria-hidden="true"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
  
      </div>
      {% include "pagination.html" with items=advertisers %}
  </section>
{% endif %}
<!--/ Agents End /-->

<!--/ News Star /-->
{% if ads %}
<section class="news-grid grid">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title-wrap d-flex justify-content-between">
                    <div class="title-box">
                        <h2 class="title-a">Ad results</h2>
                    </div>
                    
                </div>
            </div>

            {% for ad in ads %}
                <div class="col-md-4">
                    <div class="card-box-b card-shadow news-box">
                        <div class="img-box-b">
                            <img src="{{ad.image.url}}" alt="" class="img-b img-fluid">
                        </div>
                        <div class="card-overlay">
                            <div class="card-header-b">
                                <div class="card-category-b">
                                    <a href="" class="category-b">{{ad.category}}</a>
                                </div>
                                <div class="card-title-b">
                                    <h2 class="title-2">
                                        <a href="{% url 'ads:ad' ad.id %}">{{ad.title}}</a>
                                    </h2>
                                </div>
                                <div class="card-date">
                                    <span class="date-b">{{ad.date_created}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            {% endfor %}
        </div>
        
    </div>
</section>
{% endif %}
<!--/ News End /-->
{% endblock %}