<section class="news-grid grid">
    <div class="container">
        <div class="row">

            {% for ad in ads|slice:":3" %}
            <div class="col-md-4">
                <div class="card-box-b card-shadow news-box">
                    <div class="img-box-b">
                        <img src="{{ad.image.url}}" alt="" class="img-b img-fluid">
                    </div>
                    <div class="card-overlay">
                        <div class="card-header-b">
                            <div class="card-category-b">
                                <a href="" class="category-b">{{ad.category}}</a>
                            </div>
                            <div class="card-title-b">
                                <h2 class="title-2">
                                    <a href="{% url 'ads:ad' ad.id %}">{{ad.title}}</a>
                                </h2>
                            </div>
                            <div class="card-date">
                                <span class="date-b">{{ad.date_created|date:"M d, Y"}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% empty %}
            <h4>No ads available</h4>

            {% endfor %}
        </div>



    </div>
</section>