{% extends 'base.html' %}
{% load static %}

{% block content %}

<!--/ Intro Single star /-->
<section class="intro-single">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-8">
        <div class="title-single-box">
          <h1 class="title-single">Order Item</h1>
          <span class="color-text-a">Order using ecocash</span>
        </div>
      </div>
      <div class="col-md-12 col-lg-4">
        <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a style="color: #2eca6a;" href="{% url 'accounts:register' %}"></a>
            </li>

          </ol>
        </nav>
      </div>
    </div>
  </div>
</section>
<!--/ Intro Single End /-->

<!--/ News Single Star /-->
<section class="news-single nav-arrow-b">
  <div class="container">

    <div class="col-md-10 offset-md-1 col-lg-10 offset-lg-1">

      <div class="form-comments">

        <form class="form-a" method="post">
          <div class="row">
            <div class="col-md-12 mb-3">
              <div class="form-group">
                <label for="inputName">Amount</label>
                <input type="text" class="form-control" disabled value="{{ad.price}}"
                  style="background-color: white;">
              </div>
            </div>
            <div class="col-md-12 mb-3">
              <div class="form-group">
                <label for="inputName">Ecocash phone number</label>
                {{form.phone_number}}
              </div>
            </div>

            {% csrf_token %}
            <div class="col-md-12">
              <button type="submit" class="btn btn-a">Order</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  </div>
</section>
<!--/ News Single End /-->


{% endblock %}